#toolbar {
  width: 70%;
  border-radius: 100px 100px 0 0;
  bottom: 0px;
  z-index: 9999;
}

#toolbar >div{
  display: none !important;
}

#toolbar a {
  font-size: 13px;
  font-weight: bold;
  color: #666;
}

#toolbar:hover { background: white; }
#toolbar:hover >div{
  display: flex !important;
}
