.avatar{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ccc;
}

.text {
  font-size: 14px;
  margin: 0;
  background: #e8e8e8;
  padding: 5px 10px;
  border-radius: 5px;
}

.time {
  font-size: 11px;
  color: #5d5b5b;
}

.border-bottom {
  border-bottom: 2px solid rgb(204, 204, 204) !important;
}
